<!DOCTYPE html>
<html lang="en">
  <%= render Punky.LayoutView, "_head.html", [] %>
  <body>
    <%= render Punky.LayoutView, "_nav.html", [] %>

    <main class="ui page grid">
      <%= @inner %>
    </main>

  </body>
</html>
