<!DOCTYPE html>
<html lang="en">
  <%= render Punky.LayoutView, "_head.html", [] %>
  <body>
    <div class="ui grid">
      <%= render Punky.LayoutView, "_sidebar.html", [conn: @conn, rooms: @rooms] %>

      <div class="fourteen wide column">
        <%= @inner %>
      </div>
    </div>

    <%= render Punky.LayoutView, "_foot.html", [] %>
  </body>
</html>
