<!DOCTYPE html>
<html lang="en">
  <%= render Punky.LayoutView, "_head.html", [] %>
  <body>
    <%= render Punky.LayoutView, "_nav.html", [conn: @conn, current_user: @current_user] %>

    <div class="ui page grid">
      <%= @inner %>
    </div>

    <script type="text/javascript" src="/assets/scripts/vendor.js"></script>
    <script type="text/javascript" src="/assets/scripts/app.js"></script>
    <script>require("app")()</script>
  </body>
</html>
